.dealer-card-image {
    width: 60px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#dealer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.dealer {
    border: 2px solid #444;
    border-radius: 10px;
    padding: 10px;
    background-color: #2c2f3b; /* Updated background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.dealer-cards {
    display: flex;
    justify-content: center;
}

#betDisplay {
    margin: 20px auto;
    max-width: 600px;
}

.form-group {
    margin: 15px 0;
}

#imageContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

#sideBetImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.image-button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-button:hover {
    transform: scale(1.1);
}


.container {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 700px;
    margin-top: 20px;
}

#otherPlayers {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 20px;
}

/* Dealer and Player Styling */
.dealer, .player, .otherPlayer {
    border: 2px solid #444; /* Updated border color */
    padding: 10px;
    border-radius: 6px;
    background-color: #2c2f3b; /* Updated background color */
    color: #e0e0e0; /* Updated text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 150px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    overflow: auto;
}

.otherPlayer-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.otherPlayer-hands {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#buttons, #betDisplay {
    margin: 10px 0;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .container, #otherPlayers, #chat {
        flex: 1;
    }
}

.otherCard-image {
    width: 35px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#balanceDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #2c2f3b; /* Updated background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 20px;
}

#balanceDisplay p {
    margin: 0;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #333; /* Updated background color */
    border: 1px solid #444; /* Updated border color */
    font-size: 14px;
    color: #ddd; /* Updated text color */
}

#balanceDisplay button {
    margin: 0 5px;
    padding: 6px 12px; /* Reduced padding */
    border: none;
    border-radius: 5px;
    background-color: #e0aaff; /* Updated button color */
    color: #1a1a1d; /* Updated text color */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#balanceDisplay button:hover {
    background-color: #d18af5; /* Updated hover color */
}

#player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.player {
    border: 2px solid #444; /* Updated border color */
    padding: 10px;
    border-radius: 12px;
    background-color: #2c2f3b; /* Updated background color */
    color: #e0e0e0; /* Updated text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 250px;
    text-align: center;
}

.player-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.player-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hand {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 6px;
}

.card-image {
    width: 50px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
    .hand {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .card-image {
        width: calc(25% - 10px);
    }
}

@media (max-width: 599px) {
    .card-image {
        width: calc(25% - 10px);
    }
}

#chat {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2c2f3b; /* Updated background color */
    display: flex;
    flex-direction: column;
    position: relative;
}

#updates {
    flex: 0.7;
    overflow: auto;
    background-color: #2c2f3b; /* Updated background color */
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

#messages {
    flex: 1;
    overflow-y: auto;
    background-color: #333; /* Updated background color */
    margin-bottom: 10px;
}

#message-input {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: calc(100% - 60px);
    box-sizing: border-box;
}

#send-message {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: auto;
}

#undoButton {
    margin: 0 auto;
    display: block;
    background-color: #e0aaff; /* Updated button color */
    color: #1a1a1d; /* Updated text color */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#undoButton:hover {
    background-color: #d18af5; /* Updated hover color */
}

#betDisplay {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1d;
    color: #f0f0f0;
    display: flex;
    flex-direction: row; /* Horizontal layout */
    height: 100vh;
}

nav {
    background-color: #27293d;
    color: #f0f0f0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #444;
    position: fixed; /* Fixes the navbar to the viewport */
    top: 0; /* Aligns it to the top */
    left: 0; /* Aligns it to the left */
    background-color: #333; /* Background color for visibility */
    color: white; /* Text color */
    padding: 10px; /* Space around the text */
    z-index: 1000; /* Makes sure it's on top of other elements */
    width: 100%; /* Full width of the viewport */
}

nav a {
    color: #f0f0f0;
    margin-right: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
    
}

nav a:hover {
    color: #e0aaff;
}

nav .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #e0aaff;
}
.sideBetButton, .logoutButton{
    width: 125px;
}

button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #e0aaff;
    color: #1a1a1d;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #d18af5;
}
